* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
.App {
  display: flex;
  background: #f8fafc;
}

.homedocument{
  width: 100%;
}